<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <img src="http://localhost:3000/MRLYJ.jpg" />
  <h1>
    <%= title %>
  </h1>
  <form action="/csrf/register" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <button type="submit">Register</button>
  </form>
</body>

</html>
